{
    "openapi" : "3.0.3",
    "info": {
        "title": "Article API",
        "description": "Article API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://apitubesmppl.000webhostapp.com/"
        }
    ],
    "paths": {
        "/api/article/create.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Create new article",
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "title","content","image"
                                ],
                                "properties": {
                                    "title" : {
                                        "type": "string"
                                    },
                                    "subtitle" : {
                                        "type": "string"
                                    },
                                    "content" : {
                                        "type": "string"
                                    },
                                    "category" : {
                                        "type": "string"
                                    },
                                    "image" : {
                                        "type": "string",
                                        "format": "byte",
                                        "description": "Upload Image"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes create article",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "title" : {
                                                    "type": "string"
                                                },
                                                "subtitle" : {
                                                    "type": "string"
                                                },
                                                "content" : {
                                                    "type": "string"
                                                },
                                                "category" : {
                                                    "type": "string"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "title" : [
                                                    "The title field is required"
                                                ],
                                                "content" : [
                                                    "The content field is required"
                                                ],
                                                "image" : [
                                                    "The image photo field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/article/update.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Update article",
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "title","content","image"
                                ],
                                "properties": {
                                    "title" : {
                                        "type": "string"
                                    },
                                    "subtitle" : {
                                        "type": "string"
                                    },
                                    "content" : {
                                        "type": "string"
                                    },
                                    "category" : {
                                        "type": "string"
                                    },
                                    "image" : {
                                        "type": "string",
                                        "format": "byte",
                                        "description": "Upload Image"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes update article",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "caption" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "id" : [
                                                    "The id field is required"
                                                ],
                                                "message" : [
                                                    "Use title, subtitle, content, category or image photo fields to update your article"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/article/current.php" : {
            "get" : {
                "tags": ["Success"],
                "description": "Get all posts created by a user",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "Get all posts created by a user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "post" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "caption" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "like" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "caption" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        },"comment" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "caption" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/article/delete.php" : {
            "delete" : {
                "tags": ["Success"],
                "description": "Delete post",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id" : {
                                        "type": "number"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes delete post",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "id" : [
                                                    "The id field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/api/article/comment.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Comment for a single post",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id" : {
                                        "type": "number"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Comment for a single post",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The id and comment field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/article/delete-comment.php" : {
            "delete" : {
                "tags": ["Success"],
                "description": "Delete Comment",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "idcomment"
                                ],
                                "properties": {
                                    "idcomment" : {
                                        "type": "number"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Delete Comment",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "idcomment" : {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The idcomment field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        },
        "/api/article/like.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Like article",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id" : {
                                        "type": "number"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Like article",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The id field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/article/delete-like.php" : {
            "delete" : {
                "tags": ["Success"],
                "description": "Delete like article",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "idlike"
                                ],
                                "properties": {
                                    "idlike" : {
                                        "type": "number"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Delete Like article",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The idlike field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}