{
    "openapi" : "3.0.3",
    "info": {
        "title": "Story API",
        "description": "Story API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://apitubesmppl.000webhostapp.com/"
        }
    ],
    "paths": {
        "/api/story/create.php" : {
            "post" : {
                "tags": ["Target"],
                "description": "Create new post",
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "image"
                                ],
                                "properties": {
                                    "image" : {
                                        "type": "string",
                                        "format": "byte",
                                        "description": "Upload Image"
                                    }  
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes create story",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "countview" : {
                                                    "type": "number"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                },
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Use image photo fields to create your post"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/story/update.php" : {
            "post" : {
                "tags": ["Target"],
                "description": "Update story",
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "id", "image"
                                ],
                                "properties": {
                                    "id" : {
                                        "type": "number"
                                    },
                                    "image" : {
                                        "type": "string",
                                        "format": "byte",
                                        "description": "Upload Image"
                                    }   
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes update post",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "countview" : {
                                                    "type": "number"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                },
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The id and image photo field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/story/current.php" : {
            "get" : {
                "tags": ["Target"],
                "description": "Get all story created by a user",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "Get all story created by a user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "countview" : {
                                                    "type": "number"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/story/delete.php" : {
            "delete" : {
                "tags": ["Target"],
                "description": "Delete post",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id" : {
                                        "type": "number"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes delete post",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The id field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}