{
    "openapi" : "3.0.3",
    "info": {
        "title": "User API",
        "description": "User API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://apitubesmppl.000webhostapp.com/"
        }
    ],
    "paths": {
        "/api/users/register.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Register new user",
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "examples": {
                                "Antonio" : {
                                    "description": "Register user Antonio",
                                    "value" : {
                                        "username" : "Antonio",
                                        "email" : "daniel.antonioramirez@example.com",
                                        "password" : "secret",
                                        "name" : "Daniel Antonio Ramirez"
                                        
                                    }
                                }
                            },
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "name","password","username","email"
                                ],
                                "properties": {
                                    "username" : {
                                        "type": "string"
                                    },
                                    "email" : {
                                        "type": "string"
                                    },
                                    "password" : {
                                        "type": "string"
                                    },
                                    "name" : {
                                        "type": "string"
                                    }
                                    
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "username" : [
                                                    "The username field is required"
                                                ],
                                                "email" : [
                                                    "The username field is required"
                                                ],
                                                "password" : [
                                                    "The username field is required"
                                                ],
                                                "name" : [
                                                    "The username field is required"
                                                ],
                                                "message" : [
                                                    "username or email already registered"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201" : {
                        "description": "Succes register user",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "success" : {
                                        "description": "Success register user",
                                        "value" : {
                                            "data" : {
                                                "id" : 1,
                                                "name" : "Daniel Antonio Ramirez",
                                                "username" : "Antonio",
                                                "email" : "daniel.antonioramirez@example.com"
                                            }
                                        }
                                    }
                                },
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "email" : {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/login.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Login user",
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "examples": {
                                "Using a Username" : {
                                    "description": "Sign in using Username",
                                    "value" : {
                                        "username" : "Antonio",
                                        "password" : "secret"
                                    }
                                }
                            },
                            "schema" : {
                                "type": "object",
                                "properties": {
                                    "username" : {
                                        "description": "If you log in using your username",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "email" : {
                                        "description": "If you log in using your email",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "password" : {
                                        "type": "string",
                                        "nullable": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201" : {
                        "description": "Success login",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "email" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                },
                                                "token" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "login" : [
                                                    "Either a username or an email must be provided for login."
                                                ],
                                                "password" : [
                                                    "The username field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        },
        "/api/users/current.php" : {
            "get" : {
                "tags": ["Success"],
                "description": "Get current user",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "Success get current user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "email" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                },
                                                "bio" : {
                                                    "type": "string"
                                                },
                                                "avatar" : {
                                                    "type": "string"
                                                },
                                                "verified" : {
                                                    "type": "integer"
                                                },
                                                "countpost" : {
                                                    "type": "integer"
                                                },
                                                "countarticle" : {
                                                    "type": "integer"
                                                },
                                                "following" : {
                                                    "type": "integer"
                                                },
                                                "followers" : {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/profile.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Update current user's profile",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "properties": {
                                    "name" : {
                                        "type": "string"
                                    },
                                    "bio" : {
                                        "type": "string"
                                    },
                                    "avatar" : {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Upload Image"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes update profile",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "name" : {
                                                    "type": "string"
                                                },
                                                "bio" : {
                                                    "type": "string"
                                                },
                                                "avatar" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Use the name, bio, or upload avatar photo fields to update your profile"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/follow.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Follow User",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "properties": {
                                    "iduser" : {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes follow user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "iduser" : {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "errors" : {
                                                "message" : [
                                                    "The iduser field is required",
                                                    "user has followed",
                                                    "user not found"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/unfollow.php" : {
            "delete" : {
                "tags": ["Success"],
                "description": "Unfollow User",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "properties": {
                                    "iduser" : {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes Unfollow user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "iduser" : {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The iduser field is required",
                                                    "user not followed",
                                                    "user not found"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/delete-follower.php" : {
            "delete" : {
                "tags": ["Success"],
                "description": "Follow User",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "properties": {
                                    "iduser" : {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200" : {
                        "description": "Succes follow user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "iduser" : {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "The iduser field is required",
                                                    "follower not found",
                                                    "user not found"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/list-following.php" : {
            "get" : {
                "tags": ["Success"],
                "description": "Get list following",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List following",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/list-followers.php" : {
            "get" : {
                "tags": ["Success"],
                "description": "Get list followers",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List followers",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/random-users.php" : {
            "get" : {
                "tags": ["Success"],
                "description": "Get random users",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List Users",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/search.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Search Users",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "Search Results",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },





        "/api/users/logout.php" : {
            "delete" : {
                "tags": ["Success"],
                "description": "Logout current user",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "Success logout user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401" : {
                        "description": "Unauthorized",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Unauthorized",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "unauthorized"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405" : {
                        "description": "Method Not Allowed",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Method Not Allowed",
                                        "value" : {
                                            "erros" : {
                                                "message" : [
                                                    "Method Not Allowed"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}